<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">Home / 首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">News / 最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">TOP10 / 人氣餐廳</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">TOP User / 美食達人</a>
  </li>
</ul>
<br />
<h1>TOP10 人氣餐廳</h1>
<hr />
{{#each restaurants}}
<div class="card mb-3">
  <div class="row">
    <div class="col-auto">
      <img class="img-responsive center-block" src="{{this.image}}" style="width: 250px;">
    </div>
    <div class="col">
      <div class="card-block px-2">
        <h1 class="pt-2">{{this.name}}</h1>
        <ul class="list-unstyled">
          <li><span class="badge badge-secondary">收藏數: {{this.FavoriteCount}} </span></li>
          <li>{{this.description}}</li>
        </ul>
        <a href='/restaurants/{{this.id}}'>
          <button type="button" class="btn btn-primary">Show</button>
        </a>

        {{#if this.isFavorite}}
        <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-danger">移除最愛</button>
        </form>
        {{else}}
        <form action="/favorite/{{this.id}}" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-primary">加到最愛</button>
        </form>
        {{/if}}
      </div>
    </div>
    <hr>
  </div>
</div>
{{/each}}