<main class='card'>



  <div class="col-md-4">

    <img class="img-responsive center-block" src="{{user.image}}"
      style="width: 250px;margin-top: 25px;margin-bottom: 25px;">
  </div>



  <section class="content-container">
    <h4 class="content-name">{{user.name}}</h4>
    <h6 class="content-email">{{user.email}}</h6>
    <h6 class="commentNum">{{user.Comments.length}} 已評論餐廳</h6>
    <h6 class="favoritedRestaurants">{{user.FavoritedRestaurants.length}} 收藏的餐廳</h6>
    <h6 class="followings">{{user.Followings.length}} followings(追蹤者)</h6>
    <h6 class="followers">{{user.Followers.length}} followers(追隨者)</h6>


    <button type="Edit" class="btn btn-light">
      <a href="/users/{{user.id}}/edit">
        Edit
      </a>

    </button>

  </section>




</main>


</div>
</br>

<div class="card">

  <div class="card-header">
    {{user.Followings.length}}followings(追蹤者)
  </div>
  <div class="card-body row">
    {{#each user.Followings}}

    <div class="col-2">
      <a href="/users/{{this.id}}">
        <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
      </a>
    </div>

    {{/each}}



    <div class="card-header">
      {{user.Comments.length}}已評論餐廳
    </div>
    <div class="card-body row">
      {{#each user.Comments}}

      <div class="col-2">
        <a href="/restaurants/{{this.Restaurant.id}}">
          <img class="card-img-top" src="{{this.Restaurant.image}}" alt="Card image cap">
        </a>
      </div>

      {{/each}}


      <div class="card-header">
        {{user.Followers.length}}followers(追隨者)
      </div>
      <div class="card-body row">
        {{#each user.Followers}}

        <div class="col-2">
          <a href="/users/{{this.id}}">
            <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
          </a>
        </div>

        {{/each}}


        <div class="card-header">
          {{user.FavoritedRestaurants.length}}收藏的餐廳
        </div>
        <div class="card-body row">
          {{#each user.FavoritedRestaurants}}

          <div class="col-2">
            <a href="/restaurants/{{this.id}}">
              <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
            </a>
          </div>

          {{/each}}
        </div>